# Clerk Secret Key (Server-side only)
# Get this from: https://dashboard.clerk.com/apps/app_33uHfr8zqvYDBACBdjJucRm4iSE/instances/ins_33uHfoLxg3FkfYola4aWgVOHkkg/api-keys
CLERK_SECRET_KEY=sk_test_Da5TLNMHCM7mMFoawvfYuiL5KoEUzeCN8P7xOIohhn
